$phone-v: 20.0625em; // 321px
$phone-h: 30.0625em; // 481px
$small-tab: 37.5625em; // 601px
$tab-v: 48.0625em; // 769px
$tab-h: 56.3125em; // 901px
$desktop: 60.0625em; // 961px
$content: 68.8125em;// 1101px
$huge: 81.25em;// 1300px

$phone-h-computed: 481;
$desktop-computed: 961;

$post-width: 1170px;
