$color--black: #2C3547;
$color--white: #FFF;
$color--yellow: #FFD700;
$color--darkblue: #00768E;
$color--grey: #898282;
$color--lightgrey: #EEEBEA;

$color--main: #51ADC8;
$color--secondary: #FDBF4E;

$color--text: #2C3547;
$color--link: $color--main;
$color--link--hover: darken($color--link, 5%)
