$spacing--tiny: .64rem;
$spacing--small: .8rem; //~14px
$spacing--base: 1rem; //17px
$spacing--medium: 1.235rem; //~21px
$spacing--large: 1.882rem; //32px
$spacing--hugh: 2.647rem; //~45px
$spacing--jackman: 4rem; //~68px
$spacing--wolverine: 8rem; //136px
