/* Carousel */

.carousel-wrapper {
  position: relative;
  padding-bottom: $spacing--medium;
  background-color: $color--white;
}

.carousel-item-text {
  position: absolute;
  bottom: $spacing--tiny;
  left: $spacing--medium;

  p {
    margin: 0;
  }
}

.carousel-item-text-slogan {
  display: inline-block;
  padding: 5px $spacing--tiny;
  text-transform: uppercase;
  background: $color--lightgrey;
}

/* owl reset */
.owl-nav {
  margin: 0 !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  padding: 0 !important;
  margin: -18px 0 0 !important;
  background: $color--white url('../images/sprites.png') no-repeat !important;
  border-radius: 50% !important;
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}

.owl-prev {
  left: 16px;
  background-position: -350px -38px !important;
}

.owl-next {
  right: 16px;
  background-position: -347px 7px !important;
}

.owl-dots {
  position: absolute;
  right: 0;
  bottom: -34px;
  left: 0;
}

@include media($small-tab) {
  .carousel-item-text {
    top: 54%;
    right: 10px;
    bottom: 0;
    left: 45%;
  }

  .carousel-item-text-slogan {
    @include font-size($font-size--medium);

    padding: $spacing--tiny $spacing--small;
    line-height: 28px;
  }
}


@include media($tab-v, max-width) {
  .owl-nav {
    display: none;
  }
}


@include media(990px) {
  .carousel-item-text {
    top: 61%;
    right: 10px;
    bottom: 0;
    left: 55%;
  }

  .carousel-item-text-slogan {
    padding: $spacing--tiny $spacing--base;
  }
}
